
.icon-ion-battery-charging:before { content: '\e800'; } /* '' */
.icon-bat2:before { content: '\e801'; } /* '' */
.icon-bat-half:before { content: '\e802'; } /* '' */
.icon-intensedebate:before { content: '\e803'; } /* '' */